body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: #071153;
    background-color: #071153;
}

h1{
    align-items: center;
    color: rgb(255, 0, 55);
    font-family: 'Open Sans';
}